"*":
  "atom-shell-commands":
    commands: [
      {
        name: "updateVedaIncludes"
        command: "{ProjectDir}/Tools/GLSLIncludes/GLSLIncludes.exe"
        arguments: [
          "{FileName}"
          "-o {fileNameNoExt}.generated{ext}"
        ]
        options:
          cwd: "{FileDir}"
          keymap: "ctrl-i"
          selector: "atom-workspace atom-text-editor:not([mini])"
      }
    ]
