"*":
  "atom-shell-commands":
    commands: [
      {
        name: "updateVedaIncludes"
        command: "{ProjectDir}/DoThaInclude/DoThaInclude/DoThaInclude/bin/Debug/DoThaInclude.exe"
        arguments: [
          "{ProjectDir}"
        ]
        options:
          cwd: "{FileDir}"
          keymap: "ctrl-i"
          selector: "atom-workspace atom-text-editor:not([mini])"
      }
    ]
